  <%- include ('header', {title: "Introducing CutDown"}) %>
      <div
        class="page-header section-dark"
        style="background-image: url('./assets/img/background.jpg')"
      >
        <div class="filter"></div>
        <div class="content-center" style="margin-top: 0px">
          <div class="container">
            <h2 class="text-center" style="color: aliceblue">
              Changing your spending habits is always hard, but with CutDown, it
              doesn't have to be.
            </h2>
            <div class="title-brand">
              <h1 class="presentation-title">CutDown</h1>
            </div>
            <h2 class="presentation-subtitle text-center">
              Cutdown provides a platform for you to take charge and achieve
              your financial goals, through achievable goal setting.
            </h2>
          </div>
          <div class = 'buttonDiv'>
          <a class="btn btn-primary" href="register" role="button">Sign Up</a>
         <a class="btn btn-primary" href="login" role="button">Login</a>
          </div>
          <div class = 'logInText'>
            Already have an account?
          </div>
        </div>
      </div>
    </div>
  <%- include ('footer') %>
