<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    />

    <!-- CSS Files -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/paper-kit.css" rel="stylesheet" />
  </head>
  <body style="height: 100%">
    <i class="fas fa-chevron-left fa-3x"></i>
    <div class="placeholder-user"></div>
    <div
      class="title-div font-weight-bolder"
      style="font-size: 20px; padding: 0 10% 0 10%; margin-bottom: 5%"
    >
      My reason for this journey
    </div>
    <form class="main-form flex-center">
      <textarea
        rows="8"
        cols="46"
        name="comment"
        form="usrform"
        placeholder="Reason"
      ></textarea>
    </form>
    <div class="center" style="width: 30%; margin-top: 10%">
      <a
        href="#"
        class="btn btn-primary btn-sm enabled"
        role="button"
        aria-disabled="true"
        >I want to change my goals/expenses</a
      >
    </div>
    <%- include ('footer') %>
