<%- include ('header', {title: "CutDown"}) %> <%- include ('navbar') %>
<a href="home">
  <i class="fas fa-chevron-left fa-3x"></i>
</a>
<div
  class="title-div font-weight-bolder"
  style="font-size: 20px; padding: 0 10% 0 10%"
>
  My reason for this journey
</div>
<div class="center" style="background-color: gainsboro">
  <h4 style="margin-top: 0"><%= goal %></h4>
</div>
<div class="placeholder-user"></div>
<div class="center" style="width: 20%; margin-top: 10%">
  <a href="editGoalSetting" class="btn btn-primary btn-sm enabled" role="button"
    >I want to change my goals/expenses</a
  >
</div>
<%- include ('footer') %>
